[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/michalstepniak
[access "refs/for/refs/*"]
	read = group user/michalstepniak
	push = group user/michalstepniak
	label-Code-Review = -2..+2 group user/michalstepniak
	label-Verified = -1..+1 group user/michalstepniak
	rebase = group user/michalstepniak
	removeReviewer = group user/michalstepniak
	submit = group user/michalstepniak
[access "refs/heads/*"]
	read = group user/michalstepniak
	create = group user/michalstepniak
	push = +force group user/michalstepniak
	pushMerge = group user/michalstepniak
[access "refs/tags/*"]
	push = group user/michalstepniak
	push = +force group user/michalstepniak
[receive]
	requireChangeId = true
