[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/michalstepniak
[access "refs/for/refs/*"]
	read = group spectre-admin
	read = group spectre-dev
	read = group user/michalstepniak
	push = group spectre-admin
	push = group spectre-dev
	push = group user/michalstepniak
	label-Code-Review = -2..+2 group spectre-admin
	label-Code-Review = -2..+2 group user/michalstepniak
	label-Code-Review = -2..+1 group spectre-dev
	label-Verified = -1..+1 group spectre-admin
	label-Verified = -1..+1 group spectre-dev
	label-Verified = -1..+1 group user/michalstepniak
	rebase = group spectre-admin
	rebase = group spectre-dev
	rebase = group user/michalstepniak
	removeReviewer = group spectre-admin
	removeReviewer = group spectre-dev
	removeReviewer = group user/michalstepniak
	submit = group spectre-admin
	submit = group spectre-dev
	submit = group user/michalstepniak
	abandon = group spectre-admin
	abandon = group spectre-dev
[access "refs/heads/*"]
	read = group user/michalstepniak
	create = group user/michalstepniak
	push = +force group user/michalstepniak
	pushMerge = group user/michalstepniak
[access "refs/tags/*"]
	push = group user/michalstepniak
	push = +force group user/michalstepniak
[receive]
	requireChangeId = true
